{
  "presets": [
    "es2016",
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  }
}
